<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/scripts.js"></script>
</head>
<body>
    <div class="container">
        <h1>Recuperar contraseña</h1>

        {% if success %}
            <p style="color: rgb(14, 170, 0);">{{ success }}</p>
            <br>
            <button type="button" onclick="redirect('/login')">Volver al inicio de sesión</button>
        {% else %}
            <p style="margin-bottom: 15px;">
                Escribe tu usuario, email o DNI para recibir un correo
                en la cuenta asociada con el enlace de cambio de contraseña.
            </p>
            <form action="/forgot_password" method="POST">
                <div>
                    <label for="identifier">Email, DNI o usuario:</label>
                    <input type="text" id="identifier" name="identifier" required>
                </div>

                {% if error %}
                    <p style="color:red;">{{ error }}</p>
                {% endif %}

                <button type="submit">Enviar</button>
            </form>
            <br><br>
            <a href="/login">Volver al inicio de sesión</a>
        {% endif %}
    </div>
</body>
</html>