<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Mensajes</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/interface.css">
    <script src="../static/js/scripts.js"></script>
</head>
<body>
    <button type="button" onclick="redirect('/home')">Menú Principal</button>
    <br><br><br>
    <h1>Lista de Mensajes</h1>
    <ul>
        {% for message in messages %}
            <div class="user">
                <div class="left">
                    <li>Remitente: {{message["sender"]}} -
                        Destinatario: {{message["receiver"]}} -
                        Text: {{message["text"]}}
                    </li>
                </div>      
                <div class="rigth">
                    <form method="POST">
                        <input type="hidden" name="id" value="{{ message["id"] }}">
                        <button type="submit" id="decrypt">Decrypt</button>
                    </form>
                </div>
            </div>
            <hr>
        {% endfor %}
    </ul>
</body>
</html>